.input-div {
    width: 90%;
    margin: 5% auto;
}

.input-div label{
    font-weight: bold;
}

.input-div input{
    width: 75%;
    border: solid black;
    border-radius: 5px;
    float: right;
}

.login-container {
    margin: 3% 30%;
}

.login-container .button-div {
    display: flex;
    flex-direction: column;
}

.button-div button{
    width: 60%;
    margin: 3% auto;
    padding: 3%;
    border-radius: 5px;
}