.signup-container .button-div {
    display: block;
    text-align: right;
}

.signup-container .button-div button {
    width: 40%;
    margin-right: 10%;
}

.signup-container .terms-div {
    text-align: center;
}

.terms-div div{
    margin-bottom: 5%;
}

.terms-div div div{
    text-align: right;
    margin-right: 10%;
}

.terms-div div div label{
    margin-right: 5%;
}