.nav-icons-div i{
    font-size: 22px;
    cursor: pointer;
    color: black;
}

.nav-icons-div i:hover{
    color: pink;
    font-size: 25px;
}

.nav-icons-div{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
}