/* .nav-icons-div i{
    font-size: 22px;
    cursor: pointer;
    color: black;
}

.nav-icons-div i:hover{
    color: pink;
    font-size: 25px;
}

.nav-icons-div{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
} */

.head-container .head {
    text-align: center;
}

.head-container .head-title {
    align-content: center;
}

.head-container .head-login-div {
    position: absolute;
    right: 20%;
    top: 7%;
}

.head-login-div p {
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

.head-container {
    padding: 2%;
}